body {
    background-image: url('../images/weather.webp');
    background-size: cover;
    background-position: top;
    height: auto;
}

.App {
    text-align: center;
}

.weather-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}

.image {
    background-color: cornflowerblue;
}